/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$whiteblue: #c1cfd1;
$greyblue: #afc3c6;
$blue: #7b989e;
$purpleblue: #526178;
$purple: #584b6e;


// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $purpleblue; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $whiteblue; // page background 
$body-color: $purpleblue; // page text 
$footer-bg: $greyblue; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $blue; // inline code background color
$code-color: $purple; // inline code text color


/*-- scss:rules --*/

.book-shelf {
  display: flex;
  flex-direction: row;
  gap: 40px;
  overflow-x: auto;
  padding: 30px 0;
  border-bottom: 4px solid #444;
}

.book {
  text-align: center;
  min-width: 140px;
}

.book img {
  width: 120px;
  border-radius: 6px;
  transition: transform 0.2s;
}

.book img:hover {
  transform: scale(1.08);
}

