/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$whiteblue: #c1cfd1;
$greyblue: #afc3c6;
$blue: #7b989e;
$purpleblue: #526178;
$purple: #584b6e;


// Base document colors
$navbar-bg: $blue; // navbar
$navbar-fg: $purpleblue; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $whiteblue; // page background 
$body-color: $purpleblue; // page text 
$footer-bg: $greyblue; // footer 
$link-color: $purple; // hyperlinks 

// Inline code
$code-bg: $blue; // inline code background color
$code-color: $purple; // inline code text color


/*-- scss:rules --*/

.bookshelf {
  position: relative;
  display: flex;
  justify-content: space-between;   /* spreads books across shelf */
  align-items: flex-end;

  max-width: 900px;                 /* prevents huge empty space */
  margin: 0 auto;                   /* centers shelf */

  padding: 20px 20px;               /* makes shelf shorter */
  gap: 10px;

  background:
    repeating-linear-gradient(
      90deg,
      #a47148,
      #a47148 10px,
      #9c6b42 10px,
      #9c6b42 20px
    );

  border-bottom: 16px solid #6e4426;
  border-radius: 6px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.book {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
